body {
  background-color: #00aaff;
  color: #fff;
}

a {
  color: #0000cc;
}

h1, h2, h4 {
  font-family: 'Scada', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Gudea', sans-serif;
}

.created_by {
  margin-top: 50px;
  font-size: 11px;
}

.home {
  padding-top: 60px;

  h1 {
    margin-bottom: 20px;
  }
}

.header-section {
  margin-top: 10px;
  h2 {
    margin-top: 30px;
  }
}

#user_info {
  .username {
    font-size: 20px;
  }
}

.export-section {
  p.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
  }

  a {
    color: #0ff;
  }

  input[type="text"] {
    width: 100px;
  }

  .additional-options {
    display: none;
  }

  form {
    label.error {
      margin-top: 10px;
      color: #ff0;
    }
  }
}
